.motion-drawer {
    display: contents;

    --default-modal-msak-index: 900;
    --default-modal-main-index: 900;
    //
    //
    //overflow: hidden;
    //margin: 0 auto;
    //
    //position: fixed;
    //inset: 0;
    //
    //overflow-y: auto;
    //-webkit-overflow-scrolling: touch;
    //
    //z-index: var(--modal-portal-index, var(--default-portal-index));
    //
    //&.mask-hidden {
    //  pointer-events: none;
    //}
    //
    //> * {
    //  pointer-events: auto;
    //}
}

.motion-mask-wrapper {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;

    z-index: var(--modal-msak-index, var(--default-modal-msak-index));
    pointer-events: auto;
}


.motion-animation-wrapper {
    position: relative;
  z-index: var(--modal-main-index, var(--default-modal-main-index));
}
