.motion-drawer {
    --default-portal-index: 900;

    overflow: hidden;
    margin: 0 auto;

    position: fixed;
    inset: 0;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    z-index: var(--modal-portal-index, var(--default-portal-index));
}

.motion-mask-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;

    z-index: 0;
    pointer-events: auto;
}


.motion-animation-wrapper {
    z-index: 1;
}
