body.acrool__modal-open {
    overflow: hidden;
    overscroll-behavior-x: contain;
    max-width: 100vw;
}
body.acrool__modal-open-fixed {
    overflow: hidden;
    overscroll-behavior-x: contain;
    max-width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
